@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 2.6rem;
  font-weight: 300;
}

h4 {
  color: #23E683;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: #23E683;
  color: #333;
  min-width: 13.5rem;
  padding: 2rem 3.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-cta:hover {
  opacity: 0.8;
}

.btn-outline {
  background: none;
  color: #fff;
  border: 0.2rem solid #fff;
}

.btn-outline:hover {
  color: #fff;
  border-color: #ccc;
}

.legal-text {
  font-size: 1rem;
  color: #ccc;
  margin-top: 2rem;
}

.sub-link {
  display: block;
  color: #ccc;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-decoration: underline;
}

.text-xl {
  font-size: 7rem;
  font-weight: bold;
}

.sub-text {
  max-width: 85rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

/* Header */
.header {
  height: 53rem;
  background: url(../img/header.jpg) no-repeat center center / cover;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 4rem;
  z-index: 2;
  position: relative;
}

.header nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.header .logo {
  width: 27rem;
  margin: 2rem 0;
}

.header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}

.header .header-text-1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.header .header-text-2 {
  font-size: 1.8rem;
  margin: 2.5rem 0;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 18rem;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

/* Sub Header */
.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 4rem;
  align-items: center;
  padding: 3rem 4rem;
  background: linear-gradient(
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
}

.sub-header > div:last-of-type {
  justify-self: end;
  align-self: end;
}

.sub-header > div:last-of-type .sub-link  {
  text-align: center;
}

/* Categories */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 9rem 4rem;
}

.categories .covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.categories .covers > div {
  height: 50rem;
  width: 30rem;
  position: relative;
}

.categories .cover-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.categories .cover-text {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: left;
}

.categories .cover-1 {
  background: url('../img/cover-1.jpg') no-repeat center center / cover;
}

.categories .cover-2 {
  background: url('../img/cover-2.jpg') no-repeat center center / cover;
}

.categories .cover-3 {
  background: url('../img/cover-3.jpg') no-repeat center center / cover;
}

.categories .cover-4 {
  background: url('../img/cover-4.jpg') no-repeat center center / cover;
}

/* Live */
.live {
  background: #151516;
  padding: 4rem;
}

.live-border {
  border: 0.4rem solid #1ce783;
  border-radius: 1.6rem;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.live a {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 2rem;
  text-decoration: underline;
}

/* Live Sports */
.live-sports {
  background: url('../img/live-sports.jpg') no-repeat center center / cover;
  height: 80rem;
  position: relative;
}

.live-sports-content {
  position: absolute;
  top: 16rem;
  left: 10rem;
  max-width: 55rem;
}

.live-sports-logos {
  width: 30rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.live-sports-logos > div {
  background: url('../img/network-logo-bg.png') no-repeat center center / cover;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-sports-logos img {
  width: 4rem;
}

/* Media queries */
@media(max-width: 1100px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .header .logo {
    width: 20rem;
  }

  .header .header-content {
    text-align: center;
    padding: 0 2rem;
  }

  .header .header-text-1 {
    margin-bottom: 4rem;
  }

  .header .header-text-2 {
    display: none;
  }

  .sub-header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .sub-header img {
    width: 25rem;
    margin: auto;
  }

  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }

  .text-xl {
    line-height: 1.3;
    font-size: 4rem;
  }

  .sub-text {
    font-size: 2rem;
  }

  .categories .covers {
    grid-template-columns: 1fr;
  }

  .live-border {
    padding: 3rem 1rem;
  }

  .live-sports {
    background: url('../img/live-sports-small.jpg') no-repeat center center / cover;
  }

  .live-sports-content {
    top: 3rem;
    left: 3rem;
    margin-top: 6rem;
  }
}